<div class="sidebar">
  <a href="{{ url_for('dashboard') }}" class="{{ 'active' if request.endpoint=='dashboard' }}">▦ Dashboard</a>
  <a href="{{ url_for('attendance_page') }}" class="{{ 'active' if request.endpoint=='attendance_page' }}">📷 Live Attendance</a>
  <a href="{{ url_for('students_list') }}" class="{{ 'active' if request.endpoint in ['students_list','add_student','edit_student'] }}">👥 Students</a>
  <a href="{{ url_for('reports') }}" class="{{ 'active' if request.endpoint=='reports' }}">📄 Reports</a>
</div>
